<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.deleteAccount}">Delete Your Account</title>
</head>

<body>
	<div layout:fragment="content">
		<section id="main_content">
			<div class="content">
				<div class="container">
					<div>
						<h1 th:utext="#{message.deleteAccount}">Delete Acocunt</h1>
						<br />
						<div id="globalMessage" style="display:none"></div>
						<div id="globalError" class="alert alert-danger col-sm-4" style="display:none"><span></span>
						</div>
						<div id="form">
							<form th:action="@{/user/deleteAccount}" method="POST" enctype="utf8">
								<button type="submit" class="btn btn-primary" th:utext="#{message.deleteAccount}">submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="fixed z-10 inset-0 overflow-y-auto hidden" id="deleteConfirmationModal">
				<div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
					<div class="fixed inset-0 transition-opacity">
						<div class="absolute inset-0 bg-gray-500 opacity-75"></div>
					</div>

					<div
						class="inline-block align-middle bg-white rounded-lg px-4 pt-5 pb-4 text-left shadow-xl transform transition-transform sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
						<h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
							Confirm Account Deletion
						</h3>
						<p>To confirm the deletion of your account, please enter 'DELETE'</p>
						<input type="text" id="deleteConfirmationInput" class="mt-2 border p-2 w-full">
						<div class="mt-4">
							<button type="button"
								class="mr-2 px-4 py-2 border border-transparent rounded-md text-white bg-indigo-600 hover:bg-indigo-500"
								onclick="proceedWithDeletion()">
								Confirm
							</button>
							<button type="button" class="px-4 py-2 border border-transparent rounded-md text-gray-700 bg-gray-200 hover:bg-gray-300"
								onclick="closeDeleteModal()">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>

		</section>

		<script th:inline="javascript">
			$(document).ready(function () {
				$('form').submit(function (event) {
					event.preventDefault(); // Stop form from submitting immediately
					$('#deleteConfirmationModal').removeClass('hidden'); // Show the modal
				});
			});


			function closeDeleteModal() {
				$('#deleteConfirmationModal').addClass('hidden');
			}

			function proceedWithDeletion() {
				var confirmationText = $('#deleteConfirmationInput').val();
				if (confirmationText === "DELETE") {
					closeDeleteModal();
					deleteAccount();
				} else {
					alert("Account deletion cancelled. You must type 'DELETE' to confirm.");
				}
			}

			function deleteAccount() {
				$(".alert").html("").hide();
				$(".error-list").html("");

				var token = $('input[name="_csrf"]').attr('value')
				$.ajaxSetup({
					beforeSend: function (xhr) {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						xhr.setRequestHeader(header, token);
					}
				});

				$.ajax({
					url: "/user/deleteAccount",
					type: "DELETE",
					success: function (data) {
						if (data.success) {
							$('#form').hide();
							$('#globalMessage').html(data.messages.join(' ')).show();
						} else {
							console.log("200 response but success = false!");
							console.log(data);
							$('#globalMessage').html(data.messages.join(' ')).show();
						}
					},
					fail: function ($xhr) {
						var data = $xhr.responseJSON;
						console.log(JSON.stringify(data.messages));
						$('#globalMessage').html(data.messages.join(' ')).show();
					}
				})
			}
		</script>

	</div>
</body>

</html>
