<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.forgotPasswordPending}">Forgot Password Pending Verification</title>
</head>

<body>

	<div layout:fragment="content">
		<section id="main_content">
			<div class="content">
				<h1><span th:utext="#{message.forgotPassword}"></span></h1>
				<div class="container">
					<div>
						<span th:utext="#{message.resetPasswordEmail}"></span>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>
