<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.forgotPassword}">Forgot Password</title>
</head>

<body>

	<div layout:fragment="content">
		<section id="main_content">
			<div class="content">
				<div class="container">
					<div>
						<h1 th:utext="#{message.resetYourPassword}">reset</h1>
						<br />
						<div id="globalMessage" style="display:none"></div>
						<div id="globalError" class="alert alert-danger col-sm-4" style="display:none"><span></span>
						</div>
						<div id="form">
							<form th:action="@{/user/resetPassword}" method="POST" enctype="utf8">

								<div class="form-group row">
									<br />
									<label class="col-sm-2" th:utext="#{label.user.password}">password</label>
									<span class="col-sm-5"><input class="form-control" id="password" name="newPassword" type="password"
											value="" /></span>
									<div class="col-sm-12"></div>
									<br /><br />
									<label class="col-sm-2" th:utext="#{label.user.confirmPass}">confirm</label>
									<span class="col-sm-5"><input class="form-control" id="matchPassword" type="password" value="" /></span>
									<div class="col-sm-12"></div>
									<input class="form-control" id="token" type="hidden" name="token" th:value="${param.token}" />
									<div id="globalError" class="col-sm-12 alert alert-danger" style="display:none"
										th:utext="#{PasswordMatches.user}">error</div>
								</div>
								<br />
								<button type="submit" class="btn btn-primary" th:utext="#{message.updatePassword}">submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script th:inline="javascript">
			$(document).ready(function () {
				$('form').submit(function (event) {
					register(event);
				});
			});

			function register(event) {
				event.preventDefault();
				$(".alert").html("").hide();
				$(".error-list").html("");

				$.ajaxSetup({
					beforeSend: function (xhr) {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						xhr.setRequestHeader(header, token);
					}
				});
				var formData = $('form').serialize();
				$.post("/user/savePassword", formData, function (data) {
					if (data.success) {
						$('#form').hide();
						$('#globalMessage').html(data.messages.join(' ')).show();
					} else {
						console.log("200 response but success = false!");
						console.log(data);
						$('#globalError').html("Error!").show();
					}
				})
					.fail(function ($xhr) {
						var data = $xhr.responseJSON;
						console.log(JSON.stringify(data.messages));
						$('#globalError').html("An Error Occured!").show();
					});
			}
		</script>

	</div>
</body>

</html>
