<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.forgotPassword}">Forgot Password</title>
</head>

<body>

	<div layout:fragment="content">
		<section id="main_content">
			<div class="content">
				<div class="container">
					<div>
						<h1 th:utext="#{label.form.forgotPassword}">form</h1>
						<br />

						<div id="globalError" class="alert alert-danger col-sm-4" style="display:none"><span></span>
						</div>

						<form th:action="@{/user/resetPassword}" method="POST" enctype="utf8">

							<div class="form-group row">
								<label for="email" class="col-sm-3" th:utext="#{label.user.email}">email</label>
								<span class="col-sm-5"><input id="email" type="email" class="form-control" name="email" value=""
										required="required" /></span>
								<span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>

							</div>
							<br />
							<button type="submit" class="btn btn-primary" th:utext="#{label.form.submit}">submit</button>
						</form>
						<br />
						<a th:href="@{/login}" th:utext="#{action.login}">login</a>
					</div>
				</div>
			</div>
		</section>

		<script th:inline="javascript">
			$(document).ready(function () {
				$('form').submit(function (event) {
					register(event);
				});
			});

			function register(event) {
				event.preventDefault();
				$(".alert").html("").hide();
				$(".error-list").html("");

				$.ajaxSetup({
					beforeSend: function (xhr) {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						xhr.setRequestHeader(header, token);
					}
				});
				var formData = $('form').serialize();
				$.post("/user/resetPassword", formData, function (data) {
					if (data.success) {
						window.location.href = data.redirectUrl;
					} else {
						console.log("200 response but success = false!");
						console.log(data);
						$('#globalError').html("Error!").show();
					}
				})
					.fail(function ($xhr) {
						var data = $xhr.responseJSON;
						console.log(JSON.stringify(data.messages));
						$('#globalError').html("An Error Occured!").show();
					});
			}
		</script>

	</div>
</body>

</html>
