<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.registrationPendingVerification}">Registration Pending Verification</title>
</head>

<body>

	<div layout:fragment="content">
		<section id="main_content">
			<div class="content">
				<h1 th:utext="#{message.regThankYou}"></h1>
				<div class="container">
					<div>
						<p th:utext="#{message.regSuccess}"></p>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>

</html>
