<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
	<title th:utext="#{page.title.updatePassword}">Update Password</title>
</head>

<body>

	<div layout:fragment="content">
		<script th:src="@{/js/pwstrength.js}"></script>
		<section id="main_content">
			<div class="content">
				<div class="container">
					<div>
						<h1 th:utext="#{message.changePassword}">reset</h1>
						<br />
						<div id="globalMessage" style="display:none"></div>
						<div id="globalError" class="alert alert-danger col-sm-4" style="display:none"><span></span>
						</div>
						<div id="form">
							<form th:action="@{/user/updatePassword}" method="POST" enctype="utf8">

								<div class="form-group row">
									<br />
									<label th:utext="#{label.user.oldPassword}">old</label>
									<span><input class="form-control" id="oldpass" name="oldPassword" type="password" value="" /></span>
									<br /><br />
									<label th:utext="#{label.user.newPassword}">new</label>
									<span><input class="form-control" id="password" name="newPassword" type="password" value="" /></span>

									<br /><br />
									<label th:utext="#{label.user.confirmPass}">confirm</label>
									<span><input class="form-control" id="matchPassword" name="matchingPassword" type="password" value="" /></span>
									<div id="globalError" class="alert alert-danget" style="display:none">
										error</div>

								</div>
								<br />
								<button type="submit" class="btn btn-primary" th:utext="#{message.updatePassword}">submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script th:inline="javascript">
			$(document).ready(function () {
				$('form').submit(function (event) {
					register(event);
				});
			});

			$(":password").keyup(function () {
				if ($("#password").val() != $("#matchPassword").val()) {
					$("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
				} else {
					$("#globalError").html("").hide();
				}
			});

			function register(event) {
				event.preventDefault();
				$(".alert").html("").hide();
				$(".error-list").html("");

				$.ajaxSetup({
					beforeSend: function (xhr) {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						xhr.setRequestHeader(header, token);
					}
				});
				var formData = $('form').serialize();
				$.post("/user/updatePassword", formData, function (data) {
					if (data.success) {
						$('#form').hide();
						$('#globalMessage').html(data.messages.join(' ')).show();
					} else {
						console.log("200 response but success = false!");
						console.log(data);
						$('#globalMessage').html(data.messages.join(' ')).show();
					}
				})
					.fail(function ($xhr) {
						var data = $xhr.responseJSON;
						console.log(JSON.stringify(data.messages));
						$('#globalMessage').html(data.messages.join(' ')).show();
					});
			}
		</script>

	</div>
</body>

</html>
