<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="footer" class="container mx-auto">
		<footer id="page-footer" class="py-2 bg-slate-200 rounded-xl">
			<div class="content">
				<hr />

				<div class="footer_links_1 flex flex-wrap -mx-3">
					<div class="flex-shrink-0 w-full max-w-full mx-auto mb-6 text-center lg:flex-0 lg:w-8/12">
						<form sec:authorize="isAuthenticated()" th:action="${@environment.getProperty('user.security.logoutActionURI')}" id="logout"
							method="POST" enctype="utf8">
						</form>
						<p>
							<a href="/" class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12">Home</a>
							<span sec:authorize="!isAuthenticated()"><a th:href="${@environment.getProperty('user.security.registrationURI')}"
									class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12" th:utext="#{action.register}">Register</a></span>
							<span sec:authorize="!isAuthenticated()"><a th:href="${@environment.getProperty('user.security.loginPageURI')}"
									class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12" th:utext="#{action.login}">Log in</a></span>
							<span sec:authorize="isAuthenticated()"><a th:href="${@environment.getProperty('user.security.updateUserURI')}"
									class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12" th:utext="#{action.updateUser}">Update
									User</a></span>
							<span sec:authorize="isAuthenticated()"><a href="#" onclick="document.getElementById('logout').submit();"
									class="mb-2 mr-4 text-slate-400 sm:mb-0 xl:mr-12" th:utext="#{action.logout}">Log
									out</a></span>
						</p>
					</div>
				</div>
				<div class="flex-shrink-0 w-full max-w-full mx-auto mt-2 mb-6 text-center lg:flex-0 lg:w-8/12">
					<div class="created_by">
						<p th:utext="#{message.createdBy}"></p>
						<p><span th:utext="#{message.copyright}"></span>
							<span th:text="${@environment.getProperty('user.copyrightFirstYear')}" />-<span
								th:text="${#dates.year(#dates.createNow())}" />
						</p>
					</div>
				</div>

			</div>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/js/user.js}"></script>
	</div>

</body>

</html>
