<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:remove="all">Template for HTML email with inline image</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<span th:text="${user.firstName}"></span>, <br /><br />
		<p th:utext="#{email.forgotPassword.introPara}"></p>
		<br /><br />
		<p th:text="#{message.resetYourPassword}"></p>
		<br />
		<p>
			<a th:href="${confirmationUrl}"><span th:text="${confirmationUrl}"></span></a>
		</p>
		<br /> <br />
		<p th:utext="#{email.forgotPassword.linkExpPara(${appUrl})}"></p>
		<br /><br />
	</div>
	<p th:utext="#{email.signature}"></p>
</body>

</html>
